div.round-img-container {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 4em;
  overflow: hidden;
  border-radius: 50%;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
div.customized-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // background-color: grey;

  // ------------------------------- movie_list.html ---------------------------
  div.list-card {
    width: 18rem;
  }
  // ------------------------------- movie_detail.html
  div.detail-card {
    width: 100%;
    h5 {
      text-align: center;
    }
    div.card-body {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    img.card-image {

    }
    ul {
      padding-left: 0;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        div {
          margin-right: 1em;
        }
      }
    }
  }
  div.customized-form {
    div.new-actor, div.movie {
      display: flex;
      flex-direction: column;
    }
  }
}

// customize userena_profile
ul#box-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 1em;
    a {
      color: black;
    }
    a:hover {
      text-decoration: none;
      color: grey;
    }
  }
}
