{% extends "rentmanager/base.html" %}
{% load static %}
{% block content %}
  <form id="movie_form" class="" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="customized-form">
        <div class="actor">
          <p>Create new actor record:<p>
          {{ form.ActorFormset.as_table }}
          <button id="inline_actor_form" action="{% url 'actor-create' %}" type="submit" name="button">Enregistrer</button>
        </div>
        <div class="movie">
          {{ form.as_table }}
        </div>
      <button type="submit" name="button">Enregistrer</button>
    </div>
  </form>
{% endblock %}

<!-- <form id="actor_form" class="" action="{ url 'actor-create' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="customized-form">
    <div class="actor">
      <p>Create new actor record:<p>
        { form.ActorFormset.as_table }}
      <button type="submit" name="button">Record New Actor</button>
    </div>
  </div>
  <form id="movie_form" class="" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="customized-form">
      <div class="movie">
        { form.as_table }}
      </div>
      <button type="submit" name="button">Enregistrer</button>
    </div>
  </form>
</form> -->
